.scientific-projects-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8rem;
}

.project-widget-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .scientific-project__title {
        flex-grow: 1;
    }

    .btn-settings {
        margin-left: 2.4rem;
    }
}

.scientific-project {

    .project-top-panel {
        margin-bottom: 1.6rem;
    }


    .status-cell-stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.8rem;
        margin-bottom: 1.6rem;
    }

    .trl-stack {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.8rem;
        margin-bottom: 1.6rem;

    }

    .media-btn,
    .sub-btn {
        margin-top: 1.2rem;
    }

    .scientific-project__table-panel {
        display: grid;
        grid-template-columns: 54.25% 44.49%;
        grid-gap: 0.8rem;

        .publications-table {
            thead th {
                white-space: nowrap;

            }
        }
    }

    .project-widget__footer {
        display: flex;

        .media-btn {
            max-width: 112px;
            flex-shrink: 0;
            margin-right: 0.5rem;
        }
    }
}

.project-top-panel {
    display: flex;
    justify-content: space-between;

    .project-top-panel__item {
        position: relative;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 0.2rem;
        background-color: var(--bg-grey);
        margin-left: 0.8rem;
        cursor: pointer;

        svg {
            width: 2.2rem;
            height: 2.2rem;

            rect,
            path {
                fill: var(--grey);
            }
        }

        &.active {
            svg {
                width: 2.2rem;
                height: 2.2rem;

                rect,
                path {
                    fill: var(--dark-blue);
                }
            }
        }
    }

    .progress-widget {
        flex-grow: 1;
        margin-left: 0.8rem;
        height: 3.8rem;
    }
}

.scientific-project-title {
    position: relative;
    display: flex;
    max-width: 100%;

    .scientific-project-title__text {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0;
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: 600;
        transform: translateY(-50%);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.popup-hint-trigger {
            height: auto;
        }
    }

    .popup-hint {
        top: 2rem;
        left: 0;
        width: 80%;
        transform: translateX(0);
        text-align: left;
    }
}

.project-group {
    position: relative;
    display: flex;
    align-items: center;
    height: 3.8rem;
    border-radius: 0.2rem;
    padding: 0 1.8rem;
    background-color: var(--bg-grey);

    svg {
        flex-shrink: 0;
        display: block;
        margin-right: 0.8rem;
        width: 2.2rem;
        height: auto;
    }

    .project-group__line {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 600;
        white-space: nowrap;
    }

    .project-group__detailed-info {
        position: absolute;
        top: calc(100% + 1rem);
        left: -1rem;
        opacity: 0;
        visibility: hidden;
        transition: var(--great-transition);
        z-index: 10;
    }

    &:hover {
        .project-group__detailed-info {
            opacity: 1;
            visibility: visible;
        }
    }
}

.project-group-detailed-info {
    padding: 2.4rem;
    width: 218px;
    border-radius: 0.4rem;
    background-color: var(--white);
    box-shadow: var(--little-elem-shadow);
    box-sizing: border-box;
    font-size: 1.3rem;

    .project-group-detailed-info__caption {
        font-size: 1.6rem;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 1.6rem;
    }

    ul {
        li {
            margin-bottom: 0.5rem;
        }
    }

    .manage-btn {
        width: 100%;
        margin-top: 1.6rem;
    }
}

.innovative-projects-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;

    .status-cell-stack {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr minmax(14rem, 15.4rem);
        grid-gap: 0.6rem;
        margin-top: 1.6rem;
    }

    .status-cell {
        padding-right: 1rem;
        padding-left: 1.4rem;

        svg {
            margin-right: .6rem;
        }
    }

    .trl-stack {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.6rem;
        margin-top: 1rem;
    }

    .innovative-project__footer {
        display: flex;
        margin-top: 1.6rem;

        .media-btn {
            width: 11.2rem;
            margin-right: 0.8rem;
            flex-shrink: 0;
        }

        .sub-btn {
            flex-grow: 1;
        }
    }
}